@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #F3F2ED;
  font-family: "Saira Condensed", sans-serif;
  color: #FFF;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  text-align: center;
}